<% provide(:title, 'Forum') %>

<section class="col-md-11">

	<h4>Forum</h4>
	<% @categories.each do |category| %>
	<div class="panel panel-default table-responsive">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<b><%= link_to category.title, category %></b>
			<div id="collapse_form-<%= category.id %>" class="pull-right">
				<%= render 'categories/collapse_form', object: category.id %>
			</div>
		</div>
		<div id=<%= category.title.split(" ").join("-") %> class="collapse <%= "in" unless category.forum_layouts.find_by(user_id: current_user).try(:collapsed) == true %>">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-6"><small>Temat</small></th>
						<th class="col-md-2 centered"><small>Data założenia</small></th>
						<th class="col-md-2 centered"><small>Ilość odpowiedzi</small></th>
						<th class="col-md-2 centered"><small>Ostatnia odpowiedź</small></th>
					</tr>
				</thead>
				<tbody>
					<% category.topics.first(10).each do |topic| %>
					<tr>
						<td>
						<% if topic.readed?(current_user) %>
						<%= render 'topics/first_new_post_link', object: topic %>
						<% end %>
							<%= link_to render('topics/title', object: topic.title) , topic %>
						</td>
						<td class="centered">
							<small>
								<%= l(topic.created_at, format: :short) %>
							</small>
						</td>
						<td class="centered">
							<small>
								<%= topic.post_count%>
								<% if topic.readed?(current_user) %>
								<%= " (+#{topic.new_posts(current_user)})" %>
								<% end %>
							</small>
						</td>
						<td class="centered">
							<small>
								<% if topic.last_post.blank? %>
								-
								<% else %>
								<%= "#{time_ago_in_words(topic.last_post)} temu" %>	
								<% end %>
							</small>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<% end %>
</section>