<div class="panel panel-default comment" id="comment-<%= comment_counter+1 %>">
	<div class="panel-heading panel-title">
		<small><%= "##{comment_counter+1}" %></small> <%= "#{User.find_by(id: comment.user_id).username}" %>
		<small class="pull-right text-muted"><%= "#{time_ago_in_words(comment.created_at)} temu" %></small>
	</div>
	<div class="panel-body">
		<%= comment.content %>
	</div>
	<% if (User.find_by(id: comment.user_id).id == current_user.id && (comment.created_at + 10 * 60) > Time.now) || current_user.admin? %>
	<div class="panel-footer">
		<%= link_to "<span class='glyphicon glyphicon-pencil'></span> edytuj".html_safe, edit_comment_path(comment), class: "btn btn-default btn-sm" %>
		<% if current_user.admin? %>
			<%= render 'shared/delete_link', object: comment %>
		<% end %>
	</div>
	<% end %>
</div>
