<% provide(:title, "Nowy temat") %>

<h4>Nowy temat:</h4>

<div class="row">
	<div class="col-md-12">
		<%= render 'shared/error_messages', object: @topic %>
	</div>
</div>
<%= form_for shallow_args(@category, @topic), html: { class: "form" } do |f| %>
<%= f.hidden_field :category_id, value: @category.id  %>
<div class="form-group">
	<%= f.label :title, "Tytuł" %>
	<%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :content, "Treść teamtu" %>
	<%= f.text_area :content, class: "form-control", rows: 15 %>
</div>

<br>

<%= f.submit "Dodaj", class: "btn btn-primary" %>

<% end %>