<div class="row">
	<div class="col-md-12">
		<%= render 'shared/error_messages', object: @user %>
	</div>
</div>

<h3><strong><%= @user.username %></strong> > <small>Edycja profilu</small></h3>
<br>
<div class='col-md-6'>
	<%= form_for @user, html: { class: "form-horizontal" } do |f| %>

	<div class="form-group">
		<%= f.label :first_name, "imie", class: "col-sm-4 control-label" %>
		<div class="col-sm-8">
			<%= f.text_field :first_name, class: "form-control", placeholder: @user.first_name %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :last_name, "nazwisko", class: "col-sm-4 control-label" %>
		<div class="col-sm-8">
			<%= f.text_field :last_name, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :email, "email", class: "col-sm-4 control-label" %>
		<div class="col-sm-8">
			<%= f.text_field :email, class: "form-control", text: @user.email %>
		</div>
	</div>
	<div class="col-md-offset-4">
		<%= f.submit "aktualizuj", class: "btn btn-large btn-primary" %>
	</div>

	<% end %>
</div>