<% provide(:title, "Użytkownicy") %>

<h3>Użytkownicy:</h3>

<%= pagination_links(@users) %>

<table class="table table-hover">
	<thead>
		<tr>
			<th>
				<%= render 'users/order_link', ordering: 'username', label: 'Login' %>
			</th>
			<th>
				<%= render 'users/order_link', ordering: 'email', label: 'Email' %>
			</th>
			<th>
				<%= render 'users/order_link', ordering: 'first_name', label: 'Imie' %>
			</th>
			<th>
				<%= render 'users/order_link', ordering: 'last_name', label: 'Nazwisko' %>
			</th>
			<th>Funkcje</th>
			<% if current_user && current_user.admin? %>
			<th class="col-md-1"></th>
			<th class="col-md-1"></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @users.order("#{params[:order]} #{params[:asc]}").each do |user| %>
		<tr>
			<td><%= link_to user.username, user_path(user) %></td>
			<td><%= user.email %></td>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= 'Administrator' if user.admin == true %> <%= 'Moderator' if user.moderator == true %> <%= 'Redaktor' if user.editor == true %></td>
			<% if current_user && current_user.admin? %>
			<td>
				<%= link_to "<span class='glyphicon glyphicon-pencil'></span> edytuj".html_safe, edit_user_path(user), class: "btn btn-default btn-sm" %>
			</td>
			<td>
				<% if !current_user?(user) %>
				<%= render 'shared/delete_link', object: user %>
				<% end %>
			</td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>

<%= pagination_links(@users) %>
