<% provide(:title, @user.username) %>

<h3><%= @user.username %></h3>

<div class="row">
	<div class="col-md-3">
	<%= @user.first_name %> <%= @user.last_name %>
	<br>
	email: <%= @user.email %>
	<% if administrator or owner(@user.id) %>
	<hr>
	<div class="btn btn-sm btn-primary"><%= link_to "Edycja", edit_user_path(@user) %></div>
	<% end %>
	</div>
</div>