<div class="panel panel-default">
	<div class="panel-heading panel-title">
		<%= link_to news.title, news_path(news) %>
		<small class="pull-right text-muted"><%= l(news.created_at, format: :long) %></small>
	</div>
	<div class="panel-body">
		<%= news.teaser %> <small class="text-muted"><%= link_to "dalej ->", news_path(news) %></small>
	</div>
	<% if administrator %>
	<div class="panel-footer">
		<%= link_to "<span class='glyphicon glyphicon-pencil'></span> edytuj".html_safe, edit_news_path(news), class: "btn btn-default btn-sm" %>
		<%= render 'shared/delete_link', object: news %>
	</div>
	<% end %>
</div>