<div class="news">
	<div class="row heading">
		<div class= "col-md-8 panel-title">
			<%= link_to news.title, news_path(news) %>
		</div>
		<small class="col-md-4 text-muted">
			<%= l(news.created_at, format: :long) %>
		</small>
	</div>
	<div class="body">
		<%= link_to news.teaser, news_path(news) %>
	</div>
	<div class="footer">
		<%= link_to "komentarze (#{news.comments.count})", news_path(news, anchor: "news-comments") %>
		<% if administrator %>
		<div class= "pull-right">
			<%= link_to "<span class='glyphicon glyphicon-pencil'></span> edytuj".html_safe, edit_news_path(news), class: "btn btn-default btn-sm" %>
			<%= render 'shared/delete_link', object: news %>
		</div>
		<% end %>
	</div>
</div>