<% if current_user.forum_layouts.find_by_category_id(cat) %>
	<%= form_for(current_user.forum_layouts.find_by_category_id(cat), remote: true) do |f| %>
		<%= f.button(type: "submit", id: "collapse-#{cat}", class: "btn btn-default btn-xs") do %>
			<span class="glyphicon glyphicon-chevron-down"></span>
		<% end %>
	<% end %>
<% else %>
	<%= form_for(current_user.forum_layouts.build(category_id: cat), remote: true) do |f| %>
		<%= f.hidden_field :category_id %>
		<%= f.button(type: "submit", id: "collapse-#{cat}", class: "btn btn-default btn-xs") do %>
			<span class="glyphicon glyphicon-chevron-down"></span>
		<% end %>
	<% end %>
<% end %>