<% provide(:title, "Nowa kategoria") %>

<h3>Nowa kategoria</h3>
<br>
<div class="row">
	<div class="col-md-12">
		<%= render 'shared/error_messages', object: @category %>
	</div>
</div>
<br>
<%= form_for @category, html: { class: "form" } do |f| %>

<div class="form-group col-md-6">
	<%= f.label :title, "Tytuł" %>
	<%= f.text_field :title, class: "form-control" %>
</div>
<div class="col-md-7">
<%= f.submit "Dodaj", class: "btn btn-primary" %>
</div>
<% end %>