<%= provide(:title, @category.title) %>

<h4><%= @category.title %></h4>
<hr>
<%= link_to "<span class='glyphicon glyphicon-file'></span> nowy temat".html_safe, new_category_topic_path(category_id: @category.id), class: "btn btn-primary btn-xs" %>
<table class="table table-hover">
	<thead>
		<tr>
			<th class="col-md-6"><small>Temat</small></th>
			<th class="centered"><small>Data założenia</small></th>
			<th class="centered"><small>Ilość odpowiedzi</small></th>
			<th class="centered"><small>Ostatnia odpowiedź</small></th>
		</tr>
	</thead>
	<tbody>
		<% @topics.each do |topic| %>
		<tr>
			<td><%= link_to render('topics/title', object: topic.title) , topic %></td>
			<td class="centered"><%= l(topic.created_at, format: :short) %></td>
			<td class="centered"><%= topic.post_count %></td>
			<td class="centered">
				<% if topic.last_post.blank? %>
				-
				<% else %>
				<%= "#{time_ago_in_words(topic.last_post)} temu" %>	
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<div class="center-block">
	<%= will_paginate @topics, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
</div>