<%= provide(:title, @category.title) %>

<h4><%= @category.title %></h4>
<hr>
	<%= link_to "<span class='glyphicon glyphicon-file'></span> nowy temat".html_safe, new_category_topic_path(category_id: @category.id), class: "btn btn-primary btn-xs" %>
<table class="table table-hover">
	<thead>
		<tr>
			<th class="col-md-6"><small>Temat</small></th>
			<th class="centered"><small>Data założenia</small></th>
			<th class="centered"><small>Ilość odpowiedzi</small></th>
			<th class="centered"><small>Ostatnia odpowiedź</small></th>
		</tr>
	</thead>
	<tbody>
		<% @category.topics.each do |topic| %>
		<tr>
			<td><%= link_to render('topics/title', object: topic.title) , topic %></td>
			<td class="centered"><%= l(topic.created_at, format: :short) %></td>
			<td class="centered"><%= topic.posts.count %></td>
			<td class="centered">
				<% if topic.posts.any? %>
				<%= "#{time_ago_in_words(topic.posts.first.created_at)} temu" %>
				<% else %>
				-
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>