<% provide(:title, @category.title) %>

<h3><%= @category.title %></h3>
<br>
<% if current_user %>
<%= link_to "<span class='glyphicon glyphicon-file'></span> nowy temat".html_safe, new_category_topic_path(category_id: @category.id), class: "btn btn-primary btn-xs" %>
<br>
<br>
<% end %>
<% if @topics.any? %>
<table class="table table-hover">
	<thead>
		<tr>
			<th class="col-md-6"><small>Temat</small></th>
			<th class="centered"><small>Data założenia</small></th>
			<th class="centered"><small>Ilość odpowiedzi</small></th>
			<th class="centered"><small>Ostatnia odpowiedź</small></th>
		</tr>
	</thead>
	<tbody>
		<% @topics.each do |topic| %>
		<tr>
			<td>
				<% if current_user && topic.readed?(current_user) %>
				<%= render 'topics/first_new_post_link', object: topic %>
				<% end %>
				<%= link_to render('topics/title', object: topic.title) , topic %>
			</td>
			<td class="centered">
				<%= l(topic.created_at, format: :short) %>
			</td>
			<td class="centered">
				<%= topic.post_count%>
				<% if current_user && topic.readed?(current_user) %>
				<%= " (+#{topic.new_posts(current_user)})" %>
				<% end %>
			</td>
			<td class="centered">
				<% if topic.last_post.blank? %>
				-
				<% else %>
				<%= "#{time_ago_in_words(topic.last_post)} temu" %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= pagination_links(@topics) %>
<% else %>
<br>
<br>
<h4>Nie ma tu niczego</h4>
<% end %>
